li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: rgb(64, 9, 116);
}
@media(min-width: 1200px){
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .container {
    max-width: 992px;
    margin: auto;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}