header {
  background: rgba(49, 19, 91, .3);
  z-index: 999;
  backdrop-filter: blur(20px);
  width: 100%;
  color: #fff;
}

.header-top {
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
  padding: 0 12px;
}

.header-top-left {
  display: flex;
}

.header-top-left-tel {
  padding: 15px 25px;
  border-right: 1px solid hsla(0, 0%, 100%, .1);
}

.header-top-right {
  display: flex;
}

.header-top-right-text {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header-top-left-adres {
  padding: 15px 25px;
}

.header-top-right-ob {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 46px;
  border-right: 1px solid hsla(0, 0%, 100%, .1);
}

.header-top-right .header-top-right-ob:last-child {
  border: 0;
}

.header-bottom {
  
}