.main-reg {
    padding: 40px 30px;
    border: 5px solid #fff;
    margin-bottom: 100px;
    max-width: 360px;
}

.main-reg-text {
    width: 90%;
    margin-bottom: 20px;
}

.main-reg-text h3 {
    color: #fff;
    font-family: Jost, sans-serif;
    font-size: 1.875rem;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.main-reg-text p {
    color: #fff;
    font-family: Jost, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}

.main-reg-ul {
    display: block;
}

.main-reg-ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-reg-ul li span{
    color: #fff;
    font-family: Jost, sans-serif;
    width: 30%;
    position: relative;
    height: 10%;
}

.main-reg-ul li span::after{
    content: ":";
    right: 10px;
    position: absolute;
}

.main-reg-ul li select {
    width: 70%;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: normal;
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: none;
    outline: none;
    padding: 10px 15px;
    appearance: none;
    position: relative;
}

.main-reg-ul li select option{
    background: rgba(57, 25, 101, .8);
}

.age-b {
    display: flex;
    width: calc(70% + 35px);
    justify-content: space-between;
}

.age1 {
    width: 50% !important;
    margin-right: 20px;
    
}

.age {
    width: 50% !important;
}


.main-reg-ul li input {
    width: 70%;
    background: transparent !important;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: none;
    outline: none;
    padding: 10px 15px;
    color: #fff;
}

.main-reg-find {
    color: #fff;
    width: 100%;
    padding: 18px 0 20px 0;
    display: flex;
    justify-content: center;
    background: #df314d;
    border: 0;
    cursor: pointer;
    margin-bottom: 12px;
}

.main-reg-insert {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.main-reg-insert button:nth-child(1){
    color: #555;
    width: calc(100% - 100px - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebe5e6;
    border: 0;
    cursor: pointer;
}

.main-reg-insert button:nth-child(2){
    color: #ffffff;
    padding: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    border: 0;
    cursor: pointer;
}

.main-reg-insert button:nth-child(3){
    color: #ffffff;
    padding: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55acee;
    border: 0;
    cursor: pointer;
}
